<div class="modal-header album">
  <h5 class="modal-title" id="trackModalLabel">Create Track</h5>
</div>

<div class="modal-body album">
  <%= form_for @track, url: album_tracks_path, method: :post do |f| %>
    <div>
      <p class="mb-0"><%= f.label :title, class: "form-label" %></p>
      <p><%= f.text_field :title, class: "form-control" %></p>
    </div>

    <div>
      <p class="mb-0"><%= f.label :Add_Song, class: "form-label" %></p>
      <p><%= f.file_field :song_link, class: "form-control" %></p>
    </div>

    <div class="actions text-center">
      <p><%= f.submit 'ADD TO ALBUM & SUBMIT', class: "btn btn-secondary" %></p>
      <p><%= f.submit 'ADD TO ALBUM & SAVE', class: "btn btn-light" %>
    </div>
  <% end %>
</div>
