<div class="modal-header">
  <h5 class="modal-title" id="trackModalLabel">Track</h5>
</div>

<div class="modal-body album text-center">
  <p>
    <p><%= form_for @track,url: artist_profile_album_tracks_path, method: :post do |f| %></p>
    <p><%= f.label :title %></p>
    <p><%= f.text_field :title %></p>
    <p><%= f.label :Add_Song %></p>
    <p><%= f.file_field :song_link %></p>
    <p><%= f.submit 'ADD TO ALBUM & SUBMIT', class:"btn btn-light" %></button>
    <p><%= f.submit 'ADD TO ALBUM & SAVE', class:"btn btn-secondary" %>
    <%end%>
  </p>
</div>
