<div class="d-grid gap-2 d-md-flex justify-content-md-end py-2 pe-5 bg-white">
  <button class="btn btn-light"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "fs-5 text-decoration-none text-secondary" %></button>
</div>

<div class="container row">
  <div class="col bg-white mt-5 mb-0 mh-100 my-0 py-0 mw-30 border border-secondary">
    <p>hiiii</p>
  </div>

  <div class=" text-secondary col border border-secondary">
    <div>
      <h2 class="fw-light mb-5 pt-5">profile</h2>
    </div>

    <%= form_for @artist, url: artist_profile_path do |f| %>
      <div class="field ms-4 mb-3 row">
        <%= f.label :artist_name, class: "text-secondary col-6" %>
        <%= f.text_field :artist_name, readonly: true, class: "border-top-0 border-end-0 border-start-0 col-6" %>
      </div>

      <div class="field ms-4 mb-3 row">
        <%= f.label :email, class: " text-secondary col-6" %>
        <%= f.email_field :email, autocomplete: "email", class: "border-top-0 border-end-0 border-start-0 col-6" %>
      </div>

      <div class="field mb-3 ms-4 row">
        <%= f.label :country, class: "text-secondary col-6" %>
        <%= f.select :country, ArtistProfile.country, class: "col-6" %>
      </div>

      <div class="field mb-3 ms-4 row">
        <%= f.label :profile_image, class: "text-secondary col-6" %>
        <%= f.file_field :avatar, class: "col-6" %>
      </div>

      <div class="field mb-3 ms-4 row">
        <%= f.label :bio, class: "col-6" %>
        <%= f.text_area :bio, class: " d-block col-6" %>
      </div>

      <div class="field ms-4 mb-3 row">
        <%= f.label :website_link, class: " text-secondary pe-5 col-6" %>
        <%= f.text_field :website_link, class: "border-top-0 border-end-0 border-start-0 col-6" %>
      </div>

      <div class="field ms-4 mb-3 social-link row">
        <%= f.label :social_link, class: "text-secondary col-6" %>
        <%= f.text_field :social_link, class: "border-top-0 border-end-0 border-start-0 mb-3 social-input col-6", multiple: true %>
      </div>

      <div class="dynamic-inputs field ms-4 mb-3 row"></div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="actions btn btn-light add-social-link">ADD MORE</button>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="actions btn btn-light bg-secondary">
          <%= link_to 'Upgrade To Pro', data: { bs_toggle: 'modal', bs_target: '#upgrade-to-pro', remote: true }, class: "text-light text-decoration-none" %>
        </button>
      </div>

      <div class="">
        <%= f.submit "SAVE", class: "btn btn-light btn-secondary btn-sm" %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="upgrade-to-pro" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
  <div class="modal-dialog border border-secondary">
    <div class="modal-content">
      <div id="pooja"></div>
    </div>
  </div>
</div>

<div class="modal-header bg-secondary bg-opacity-25">
  <p class="modal-title text-capitalize" id="UpgradeModalLabel"></p>
</div>

<div class="row modal-body"></div>

<div class="modal-footer"></div>
